<% include partials/header %>
<div class="col-sm-4 col-sm-offset-4">

<ul class="list-group comments">
<% for (var i = comments.length - 1; i >= 0; i--) { %>
<li class="list-group-item"><%=comments[i].text%></li>
<% } %>
</ul>
<form action="/favorites/<%=movieId%>/comments/add" id="commentForm">
<div class="form-group">
<textarea class="form-control" name="text" id="commentText"></textarea>
</div>
<input type="submit" value="Submit Comment" id="commentBtn" class="btn btn-default">
</form>

</div>
<% include partials/footer %>