<% include partials/header %>

<h1 class="text-center">Welcome to Movie Finder</h1>
<hr>
<img src="Film-03.png" class="img-responsive center-block"><br>
<p class="col-sm-4 col-sm-offset-4">Find your favorite movies and hit the "Favorite" button to save that movie to your favorites list to refer to later!</p>
<!-- <form class="form" action="/movies" method="get">
    <div class="form-group col-sm-4 col-sm-offset-4">
        <input type="test" name="q" class="form-control" placeholder="Search for a movie" value="">
    </div>
    <input type="submit" value="Search" class="btn btn-success">
</form> -->

<% include partials/footer %>